.loginDiv {
    height: 100vh;

    .heading {
        text-decoration: underline;
    }

    .login {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        height: 400px;
        width: 500px;
        
        .input-box {
            width: 400px;
        }

        .login-btn {
            color: azure;
            border: none;
            width: 80px;
            height: 40px;
            border-radius: 5px;

            &:hover {
                cursor: pointer;
            }

            &-disabled {
                background-color: darkgrey;
                color: azure;
                border: none;
                width: 80px;
                height: 40px;
                border-radius: 5px;

                &:hover {
                    cursor: not-allowed;
                }
            }
        }
    }


}